@import "reset";
@import "bourbon/bourbon";
@import "grid-settings";
@import "neat/neat";

.header{
	@include outer-container;
}

.left-box{
	background: green;
	@include span-columns(6);
}

.right-box{
	background: red;
	@include span-columns(6);
}

.menu{
	@include outer-container;
	li{
		display: inline;
		list-style-type: none;
		@include span-columns(2);
		@include media($mobile){
			@include span-columns(2);
		}
	}
}

.info{
	@include outer-container;
	.ads{
		@include span-columns(7);
		@include media($mobile){
			@include span-columns(7);
		}
	}
	.cal{
		@include span-columns(5);
		@include omega;
	}
	.posts{
		@include span-columns(12);
	}
}

footer{
   border-top: black solid 1px;
}