@import "reset";
@import "bourbon/bourbon";
@import "grid-settings";
@import "neat/neat";

/*$tan: #ffeebb;*/
$tan: #ede4ca;
$red: #8a1818;

.header{
	@include outer-container;
}

.left-box{
	background: green;
	@include span-columns(6);
}

.right-box{
	background: red;
	@include span-columns(6);
}

.menu{
	background-color: $tan;
	width: 100%;
	@include outer-container;
	li{
		display: inline;
		list-style-type: none;
		@include span-columns(2);
		@include media($mobile){
			@include span-columns(2);
		}
		li:last{
			@include omega;
		}
	}
}

article.fb-entry{
	h1{
		font-size: 2em;
	}
	h2{
		font-size: 1.8em;
	}
	h3{
		font-size: 1.6em;
	}
	header{

	}
	footer{

	}
}

.title{
	background-color: $red;
	text-align: center;
	color: $tan;
	font-size: 2.5em;
}

.info{
	@include outer-container;
	.ads{
		@include span-columns(7);
		@include media($mobile){
			@include span-columns(7);
		}
	}
	.cal{
		@include span-columns(5);
		@include omega;
	}
	.posts{
		@include span-columns(12);
	}
}

footer.main{
   border-top: black solid 1px;
   background-color: $tan;
   text-align: center;
}