.menu
  %ul
    %li Home
    %li About
    %li Events
    %li Businesses
    %li Real Estate
    %li Civic
.header
  .left-box left
  .right-box right
.heading
  %h1 Sewickley Area Civic &amp; Business Association
%p.doc
  = link_to "Read Online Documentation", "http://middlemanapp.com/"
