.menu
  %ul
    %li Home
    %li About
    %li Events
    %li Businesses
    %li Real Estate
    %li Civic
.header
  .left-box left
  .right-box right
.title
  %h1 Sewickley Area Civic &amp; Business Association
.ads
  

