.business-links
  %a{:href => "#a"} A
  %a{:href => "#b"} B
  %a{:href => "#c"} C
  %a{:href => "#d"} D
  %a{:href => "#e"} E
  %a{:href => "#f"} F
  %a{:href => "#g"} G
  %a{:href => "#h"} H
  %a{:href => "#i"} I
  %a{:href => "#j"} J
  %a{:href => "#k"} K
  %a{:href => "#l"} L
  %a{:href => "#m"} M
.business-links
  %a{:href => "#n"} N
  %a{:href => "#o"} O
  %a{:href => "#p"} P
  %a{:href => "#q"} Q
  %a{:href => "#r"} R
  %a{:href => "#s"} S
  %a{:href => "#t"} T
  %a{:href => "#u"} U
  %a{:href => "#v"} V
  %a{:href => "#w"} W
  %a{:href => "#x"} X
  %a{:href => "#y"} Y
  %a{:href => "#z"} Z
.business-list
  %a#a A
  %p
    Applebee's
  %a#b B
  %p
    Burger King
  %a#c C
  %p
    Cat and Mouse
  %a#d D
  %p
    Donald's daycare
  %a#f F
  %p
    Burger King
  %a#g G
  %p
    Burger King
  %a#h H
  %p
    Burger King
  %a#i I
  %p
    Burger King
  %a#j J
  %p
    Burger King
  %a#k K
  %p
    Burger King
  %a#l L
  %p
    Burger King
  %a#m M
  %p
    Burger King
  %a#n N
  %p
    Burger King
  %a#o O
  %p
    Burger King
  %a#p P
  %p
    Burger King
  %a#q Q
  %p
    Burger King
  %a#r R
  %p
    Burger King
  %a#s S
  %p
    Burger King
  %a#t T
  %p
    Burger King
  %a#u U
  %p
    Burger King
  %a#v V
  %p
    Burger King
  %a#w W
  %p
    Burger King
  %a#x X
  %p
    Burger King
  %a#y Y
  %p
    Burger King
  %a#z Z
  %p
    Burger King