%section.volunteerForm
	= partial "volunteer_form"
%section.members
	%ul
		%li John Smith 
		%li Marybeth Winston
		%li Becky Johnson
		%li Amy Kelly
		%li Santa Claus
		%li Carrie Jones
		%li Elizabeth Redberry
		