%section.volunteerForm
  %form#ss-form{:action => "https://docs.google.com/forms/d/1l-ldoJnmQGwn-6zniAM9VWcP5toiovu-1Qhs8Tug2UA/formResponse", :method => "POST", :onsubmit => "", :target => "_self"}
  %ol{:style => "padding-left: 0"}
    .ss-form-question.errorbox-good
      .ss-item.ss-item-required.ss-text{:dir => "ltr"}
        .ss-form-entry
          %label.ss-q-item-label{:for => "entry_2001376733"}
            .ss-q-title
              First Name
              %label{"aria-label" => "(Required field)", :for => "itemView.getDomIdToLabel()"}
              %span.ss-required-asterisk *
            .ss-q-help.ss-secondary-text{:dir => "ltr"}
          %input#entry_2001376733.ss-q-short.required{"aria-required" => "true", :dir => "auto", :name => "entry.2001376733", :required => "", :title => "", :type => "text", :value => ""}
            .error-message
            .required-message This is a required question
    .ss-form-question.errorbox-good
      .ss-item.ss-item-required.ss-text{:dir => "ltr"}
        .ss-form-entry
          %label.ss-q-item-label{:for => "entry_11786594"}
            .ss-q-title
              Last Name
              %label{"aria-label" => "(Required field)", :for => "itemView.getDomIdToLabel()"}
              %span.ss-required-asterisk *
            .ss-q-help.ss-secondary-text{:dir => "ltr"}
          %input#entry_11786594.ss-q-short{"aria-required" => "true", :dir => "auto", :name => "entry.11786594", :required => "", :title => "", :type => "text", :value => ""}
            .error-message
            .required-message This is a required question
    .ss-form-question.errorbox-good
      .ss-item.ss-item-required.ss-text{:dir => "ltr"}
        .ss-form-entry
          %label.ss-q-item-label{:for => "entry_1270676198"}
            .ss-q-title
              Email Address
              %label{"aria-label" => "(Required field)", :for => "itemView.getDomIdToLabel()"}
              %span.ss-required-asterisk *
            .ss-q-help.ss-secondary-text{:dir => "ltr"}
          %input#entry_1270676198.ss-q-short{"aria-required" => "true", :dir => "auto", :name => "entry.1270676198", :required => "", :title => "", :type => "text", :value => ""}
            .error-message
            .required-message This is a required question
    .ss-form-question.errorbox-good
      .ss-item.ss-text{:dir => "ltr"}
        .ss-form-entry
          %label.ss-q-item-label{:for => "entry_1598957530"}
            .ss-q-title
              Phone Number
            .ss-q-help.ss-secondary-text{:dir => "ltr"}
          %input#entry_1598957530.ss-q-short{:dir => "auto", :name => "entry.1598957530", :title => "", :type => "text", :value => ""}
            .error-message
            .required-message This is a required question
    .ss-form-question.errorbox-good
      .ss-item.ss-checkbox{:dir => "ltr"}
        .ss-form-entry
          %label.ss-q-item-label{:for => "entry_1267967495"}
            .ss-q-title
              Preferred contact
            .ss-q-help.ss-secondary-text{:dir => "ltr"}
          %ul.ss-choices
            %li.ss-choice-item
              %label
                %span.ss-choice-item-control.goog-inline-block
                  %input#group_1539446783_1.ss-q-checkbox{:name => "entry.1539446783", :type => "checkbox", :value => "Email"}/
                %span.ss-choice-label Email
            %li.ss-choice-item
              %label
                %span.ss-choice-item-control.goog-inline-block
                  %input#group_1539446783_2.ss-q-checkbox{:name => "entry.1539446783", :type => "checkbox", :value => "Phone"}/
                %span.ss-choice-label Phone
          .error-message
          .required-message This is a required question
    %input{:name => "draftResponse", :type => "hidden", :value => "[]\n"}
      %input{:name => "pageHistory", :type => "hidden", :value => "0"}
        .ss-item.ss-navigate
          %table#navigation-table
            %tbody
              %tr
                %td#navigation-buttons.ss-form-entry.goog-inline-block{:dir => "ltr"}
                  %input#ss-submit{:name => "submit", :type => "submit", :value => "Submit"}
                    .ss-secondary-text Never submit passwords through Google Forms.
                %td#progress-container
                  #progress-bar.jfk-progressBar-nonBlocking.progress-bar-horizontal.goog-inline-block
                    .progress-bar-horizontal{"aria-live" => "polite", "aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "100", :role => "progressbar"}
                      .progress-bar-thumb{:style => "width: 100%; background-color: rgb(0, 142, 177);"}
                  #progress-label.progress-label 100%: You made it.