<!DOCTYPE = HTML>

<div class="header">
	<div class="left-box">left</div>
	<div class="right-box">right</div>
</div>

<div class="title">
  <h1>Sewickley Area Civic &amp; Business Association</h1>
</div>

<div class="info">
	<div class="ads">
		test ads
	</div>

	<div class="cal">
		test cal
	</div>

	<div class="posts">
		test post
	</div>
</div>


