<!DOCTYPE = HTML>

<script id="fb-post-template" type="text/x-handlebars-template">
  <article id="{{postId}}" class="fb-entry">
  	<header>{{title}}</header>
		<img src="{{imageSRC}}"/>
		<p>{{{body}}}</p>
  	<footer>
  		<a href="{{postURL}}">See Original Post</a>
  	</footer>
  </article>
</script>

<div class="header">
	<!--<div class="left-box">left</div>
	<div class="right-box">right</div>-->
</div>

<div class="title">
  <h1>Sewickley Area Civic <br> 
  	&amp; Business Association</h1>
</div>

<div class="info">
	<div class="ads">
		test ads
	</div>

	<div class="cal">
		test cal
	</div>

	<div id="posts" class="posts">
		test post
	</div>
</div>


