<!DOCTYPE = HTML>

<div class="menu">
	<ul>
		<li></li>
	</ul>
</div>
<div class="heading">
  <h1>Sewickley Area Civic &amp; Business Association</h1>
</div>
  <p class="doc">
    <%= link_to "Read Online Documentation", "http://middlemanapp.com/" %>
  </p><!-- .doc -->
</div><!-- .welcome -->