<!DOCTYPE = HTML>

<div class="menu">
	<ul>
		<li>Home</li>
		<li>About</li>
		<li>Events</li>
		<li>Businesses</li>
		<li>Real Estate</li>
		<li>Civic</li>
	</ul>
</div>

<div class="header">
	<div class="left-box">left</div>
	<div class="right-box">right</div>
</div>
<div class="heading">
  <h1>Sewickley Area Civic &amp; Business Association</h1>
</div>
  <p class="doc">
    <%= link_to "Read Online Documentation", "http://middlemanapp.com/" %>
  </p><!-- .doc -->
</div><!-- .welcome -->