%ul
  %li
    .real-estate-img
    %img{:alt => "5 Wilson Dr", :height => "100%", :src => "http://p.rdcpix.com/v02/l3b907744-m0x.jpg"}
    .real-estate-info
      %p
        5 Wilson Dr
        %br
          Sewickley Twp, PA 15637
  %li
    .real-estate-info
      %p
        219-221 Church St
        %br
          Sewickley Twp, PA 15637
    .real-estate-img
    %img{:alt => "219-221 Church St", :height => "100%", :src => "http://p.rdcpix.com/v02/lc4bf7244-m0m.jpg"}
   